        Task 1 - creating DataFrame and saving as csv

In [9]:
import numpy as np
import pandas as pd

# Employee Data
employee_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Name": ["John Alter", "Alice Luxumberg", "Tom Sabestine", "Nina Adgra", "Amy Johny"],
    "Gender": ["M", "F", "M", "F", "F"],
    "City": ["Paris", "London", "Berlin", "Newyork", "Madrid"],
    "Age": [25, 27, 29, 31, 30]
}
df_employee = pd.DataFrame(employee_data)

# Seniority Level Data
seniority_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Designation Level": [2, 2, 3, 2, 3]
}
df_seniority = pd.DataFrame(seniority_data)

# Project Data (with some missing costs)
project_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005", "A002", "A005", "A003", "A001", "A003", "A001", "A004", "A004", "A005"],
    "Project": ["Project 1", "Project 2", "Project 3", "Project 4", "Project 5", "Project 6", "Project 7",
                "Project 8", "Project 9", "Project 10", "Project 11", "Project 12", "Project 13", "Project 14"],
    "Cost": [1002000, 2000000, 4500000, 5500000, np.nan, 680000, 400000, 350000, np.nan, 300000, 2000000, 1000000, 3000000, 200000],
    "Status": ["Finished", "Ongoing", "Finished", "Ongoing", "Finished", "Failed", "Finished", "Failed",
               "Ongoing", "Finished", "Failed", "Ongoing", "Finished", "Finished"]
}
df_project = pd.DataFrame(project_data)

# Save to CSVs (for Task 2â€“10 to read from)
df_employee.to_csv("employee.csv", index=False)
df_seniority.to_csv("seniority.csv", index=False)
df_project.to_csv("project.csv", index=False)

        Task 2 - filling the missing values in "Project" DataFrame

In [10]:
df_project = pd.read_csv('project.csv')

costs = df_project["Cost"].tolist() #converting to python list

for i in range(len(costs)):
    if pd.isna(costs[i]):  # If missing value in cost i.e NaN
        running_sum = 0
        count = 0
        for j in range(i):  # Loop over earlier values
            if not pd.isna(costs[j]): # Taking non 0 values
                running_sum += costs[j] # Adding the costs
                count += 1
        if count > 0:
            costs[i] = running_sum / count # Running average

df_project["Cost"] = costs  # updating the complete Cost column

df_project.to_csv("project.csv", index=False)  # saving the changes to project.csv

        Task 3: Split Name into First and Last Name

In [11]:
df_employee = pd.read_csv("employee.csv") # Reading employee.csv file
df_employee[['First Name', 'Last Name']] = df_employee['Name'].str.split(' ', expand=True) # splitting name into two separate columns
df_employee.drop(columns='Name', inplace=True) # removing existing 'name' column
df_employee.to_csv("employee.csv", index=False) # saving the changes to 'employee.csv' file

        Task 4: Merge All Three DataFrames

In [12]:
df_employee = pd.read_csv("employee.csv")
df_project = pd.read_csv("project.csv")
df_seniority = pd.read_csv("seniority.csv") # reading all three dataFrames

df_merged1 = pd.merge(df_project, df_employee, on="ID", how="left") # left joining employee dataFrame on project dataFrame
df_final = pd.merge(df_merged1, df_seniority, on="ID", how="left")  # left joining seniority level dataFrame on merged dataFrame

df_final.to_csv("final.csv", index=False) # saving the changes to final.csv

        Task 5: Add Bonus Column (5% of Cost if Finished) in final DataFrame

In [13]:
df_final = pd.read_csv("final.csv") # opening the final merged dataFrame
df_final.loc[df_final['Status'] == 'Finished', 'Bonus'] = 0.05 * df_final['Cost'] # locating the row and bonus column with status finished
df_final.to_csv("final.csv", index=False) # saving the changes to final.csv

        Task 6: Demote Failed Project Heads & Remove > Level 4

In [14]:
df_final = pd.read_csv("final.csv") # opening the final merged dataFrame
df_final.loc[df_final['Status']=='Failed', 'Designation Level'] +=1 # increasing designation level if status is failed
df_final=df_final[df_final['Designation Level']<=4] # only keeping those rows whose designation level is less than 4
df_final.to_csv("final.csv", index=False) # saving the changes to final.csv

        Task 7: Prefix Mr./Mrs. and Drop Gender Column

In [15]:
df_final = pd.read_csv("final.csv") # opening the final merged dataFrame
df_final['First Name'] = np.where(
    df_final['Gender'] == 'M',
    'Mr. ' + df_final['First Name'],
    'Mrs. ' + df_final['First Name'] 
)                                            # searching the Gender and changing first names
df_final.drop(columns='Gender', inplace=True) # Dropping the gender column
df_final.to_csv("final.csv", index=False) # saving the changes to final.csv

        Task 8: Promote employee whose Age > 29 by 1 Designation Level

In [16]:
df_final = pd.read_csv("final.csv") # opening the final merged dataFrame
df_final['Designation Level'] = df_final.apply(
    lambda row: max(1, row['Designation Level'] - 1) if row['Age'] > 29 else row['Designation Level'],
    axis=1
)  # Checking the row if Age > 29 and then applying -1 for increasing the designation level
df_final.to_csv("final.csv", index=False) # saving the changes to final.csv

        Task 9: Total Project Cost per Employee

In [17]:
df_final = pd.read_csv("final.csv") # opening the final merged dataFrame
total_project_cost= df_final.groupby(['ID','First Name'])['Cost'].sum().reset_index(name='Total Cost') 
# Creating new dataFrame, calculating total cost by grouping ID and firstname
total_project_cost.to_csv("Total_project_cost.csv",index=False) # saving as new file

        Task 10: Employees from Cities Containing "o"

In [18]:
df_employee = pd.read_csv("employee.csv") # Reading employee.csv file
filtered_emp=df_employee[df_employee['City'].str.contains('o' ,case=False)] # filtering employee based on letter
filtered_emp # printing the dataframe

     ID Gender     City  Age First Name  Last Name
1  A002      F   London   27      Alice  Luxumberg
3  A004      F  Newyork   31       Nina      Adgra